
.title {
  margin: 1rem ;
  text-align: center;

  .red {
    color: red;
  }

  .green {
    color: green;
  }

  .brown {
    color: brown;
  }

  .blue {
    color: blue;
  }
}

.selector-content {
  padding: 8rem 2rem;
}